.Home{
  height: 100vh;
  background-image: url('../assets/img/bg2.jpg');
  background-size: cover;
  background-position: -200px 0;
  backface-visibility: random($limit: 3);
  // z-index: -9999;


  .wrapp{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.1);
  }
}