$check: 1px solid black;
$shadow: #dff9fb;
$font-color: #0E1C20;

.login {
  button{
    padding: 12px 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px 1px black;
    background: linear-gradient(to left, rgb(32, 82, 92), rgb(34, 74, 114));
    color: white;
    font-size: 18px;
  }
  background-color: rgba(0, 0, 0, 0);
  height: 100vh;
  position: relative;
  .card {
    // border: $check;
    width: 450px;
    height: 500px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px $shadow;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: rgba(223, 249, 251,0.2);
    .header{
      padding: 2px 0;
      font-size: 18px;
      text-align: center;
      font-weight: 100;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 20%);
      color: $font-color;
      h1{
        font-weight: 100;
      }
      .logo{
        font-family: 'Roboto Condensed', sans-serif;
      }
    }
    form{
      // border: $check;
      font-weight: 200;
      height: 250px;
      width: 85%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -20%);
      display: flex;
      flex-direction: column;
      .adminUsername{
        position: relative;
        flex: 1;
        label{
          display: block;
          font-size: 20px;
          color: $font-color;
        }
        input {
          position: absolute;
          width: 75%;
          outline: none;
          border: none;
          border-bottom: 1px solid black;
          background: none;
          top: 47%;
          left: 15%;
          padding: 5px;
          font-size: 18px;
        }
        i{
          position: absolute;
          font-size: 24px;
          top: 50%;
          color: #0E1C20;
        }
      }
      .adminPassword{
        flex: 1;
        label{
          display: block;
          font-size: 20px;
          color: $font-color;
        }
        input {
          position: absolute;
          width: 75%;
          outline: none;
          border: none;
          border-bottom: 1px solid black;
          background: none;
          top: 77%;
          left: 15%;
          padding: 5px;
          font-size: 18px;
        }
        i{
          position: absolute;
          font-size: 24px;
          top: 80%;
          color: #0E1C20;
        }
      }
      .register-btn, .login-btn{
        position: absolute;
      }
      .register-btn{
        top: 110%;
      }
      .login-btn{
        top: 110%;
        right: 10%;
      }
    }
  }
}