.not-found{
  height: 100vh;
  background-image: url('../../assets/img/bg1.jpg');
  background-size: cover;
  background-position: 0 -80px;
  position: relative;
  z-index: 9999;

  .desc{
    position: absolute;
    top: 41%;
    left: 17%;
    transform: rotate(-18deg);
    width: 450px;
    height: 200px;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-size: 30px;

    h1{
      margin-bottom: 30px;
      color: #192a56;
      letter-spacing: 3px;
    }
  }
  .toLogin{
    position: absolute;
    top: 70%;
    left: 42%;
    transform: rotate(-17deg);
    text-decoration: none;
    color: #192a56;
  }
}