
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 0.5px 0px 0.5px black;
}

body {
  font-family: 'Poppins', sans-serif;
}
.App{
  background-image: url('./assets/img/2395337.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.wrapper{
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}